
<%= form_for(question, html: {multipart: true}) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <p>
    <%= f.text_area :content ,class: "form-control" ,:placeholder => "Your Question",required: true %>
     </p>
  <p>
<%= f.select :category_id, Category.all.collect {|p| [ p.content, p.id ] }, {prompt: 'Select Topic'},class: "form-control",required: true %>
  </p>
  <p>
    <%= f.file_field :picture %>
     </p>

    <%= f.submit params[:id] ? "Edit" : "Ask", class: "btn btn-primary" %>
 
<% end %>
